In [1]:
import pandas as pd
import matplotlib.pyplot as plt
raw_tesla = pd.read_csv('../datasets/TESLA.csv')
raw_tesla.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,6/29/10,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,1,6/30/10,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,2,7/1/10,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,3,7/2/10,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,4,7/6/10,1.333333,1.333333,1.055333,1.074000,1.074000,103003500

In [5]:
raw_tesla['date'] = pd.to_datetime(raw_tesla['Date'])

C:\Users\Juan Diego\AppData\Local\Temp\ipykernel_12316\3328497012.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  raw_tesla['date'] = pd.to_datetime(raw_tesla['Date'])

In [6]:
raw_tesla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3637 entries, 0 to 3636
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3637 non-null   int64
 1   Date        3637 non-null   object
 2   Open        3637 non-null   float64
 3   High        3637 non-null   float64
 4   Low         3637 non-null   float64
 5   Close       3637 non-null   float64
 6   Adj Close   3637 non-null   float64
 7   Volume      3637 non-null   int64
 8   date        3637 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 255.9+ KB

In [7]:
clean_tesla = raw_tesla[['date', 'Volume' ,'Open','Close']].copy()
clean_tesla.to_csv('../datasets/clean_tesla.csv', index=False)

In [5]:
print("Earliest date:",clean_tesla['date'].min())
print("Latest date:",clean_tesla['date'].max())

Earliest date: 2010-06-29 00:00:00
Latest date: 2024-12-09 00:00:00