In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
raw_tesla = pd.read_csv('../datasets/TESLA.csv')
raw_tesla.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,6/29/10,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,1,6/30/10,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,2,7/1/10,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,3,7/2/10,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,4,7/6/10,1.333333,1.333333,1.055333,1.074000,1.074000,103003500

In [4]:
raw_tesla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3637 entries, 0 to 3636
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3637 non-null   int64
 1   Date        3637 non-null   object
 2   Open        3637 non-null   float64
 3   High        3637 non-null   float64
 4   Low         3637 non-null   float64
 5   Close       3637 non-null   float64
 6   Adj Close   3637 non-null   float64
 7   Volume      3637 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 227.4+ KB

Se requiere cambiar la columna date por el formato datetime

In [5]:
raw_tesla[raw_tesla.duplicated()].sum()

Unnamed: 0      0
Date            0
Open          0.0
High          0.0
Low           0.0
Close         0.0
Adj Close     0.0
Volume          0
dtype: object

No se observan valores duplicados

In [6]:
raw_tesla.isna().sum()

Unnamed: 0    0
Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
dtype: int64

In [8]:
print("Earliest date:",raw_tesla['Date'].min())
print("Latest date:",raw_tesla['Date'].max())

Earliest date: 1/10/11
Latest date: 9/9/24

No se observan valores vacios