In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
raw_tweets = pd.read_csv('../datasets/elon_musk_tweets.csv')
raw_tweets.head()

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1544379368478212100,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240855,115,13503,True,2022-07-05 17:55:09+00:00,@BillyM2k I find the gold toe sock – inevitabl...,NaN,Twitter for iPhone,335,6542,False
1,1544377493263720450,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:47:42+00:00,"Sock Con, the conference for socks",NaN,Twitter for iPhone,1451,30753,False
2,1544377130590552064,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:46:15+00:00,Always something new for the magazine cover an...,NaN,Twitter for iPhone,1284,28610,False
3,1544375575724400645,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:40:05+00:00,@ExplainThisBob This guy gets it,NaN,Twitter for iPhone,131,3640,False
4,1544375148605853699,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:38:23+00:00,Sock tech is so advanced that you can get pret...,NaN,Twitter for iPhone,1191,23790,False

In [5]:
raw_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5904 entries, 0 to 5903
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5904 non-null   int64
 1   user_name         5904 non-null   object
 2   user_location     1050 non-null   object
 3   user_description  1422 non-null   object
 4   user_created      5904 non-null   object
 5   user_followers    5904 non-null   int64
 6   user_friends      5904 non-null   int64
 7   user_favourites   5904 non-null   int64
 8   user_verified     5904 non-null   bool
 9   date              5904 non-null   object
 10  text              5904 non-null   object
 11  hashtags          2 non-null      object
 12  source            5904 non-null   object
 13  retweets          5904 non-null   int64
 14  favorites         5904 non-null   int64
 15  is_retweet        5904 non-null   bool
dtypes: bool(2), int64(6), object(8)
memory usage: 657.4+ KB

Se observa que la columna de fecha requiere ser cambiado el formato a fecha

In [7]:
raw_tweets[raw_tweets.duplicated()].sum()

id                  0
user_name           0
user_location       0
user_description    0
user_created        0
user_followers      0
user_friends        0
user_favourites     0
user_verified       0
date                0
text                0
hashtags            0
source              0
retweets            0
favorites           0
is_retweet          0
dtype: object

No se observan valores duplicados

In [8]:
raw_tweets.isna().sum()

id                     0
user_name              0
user_location       4854
user_description    4482
user_created           0
user_followers         0
user_friends           0
user_favourites        0
user_verified          0
date                   0
text                   0
hashtags            5902
source                 0
retweets               0
favorites              0
is_retweet             0
dtype: int64

In [9]:
raw_tweets['user_location'].unique()

array([nan, 'Boring', 'Twitter HQ', 'Twitter NY', 'Hell',
       'A Shortfall of Gravitas', 'Trøllheim'], dtype=object)

In [13]:
missing_locations = raw_tweets[raw_tweets['user_location'].isna()]
print(missing_locations)

                       id  user_name user_location           user_description  \
0     1544379368478212100  Elon Musk           NaN  Mars & Cars, Chips & Dips
1     1544377493263720450  Elon Musk           NaN  Mars & Cars, Chips & Dips
2     1544377130590552064  Elon Musk           NaN  Mars & Cars, Chips & Dips
3     1544375575724400645  Elon Musk           NaN  Mars & Cars, Chips & Dips
4     1544375148605853699  Elon Musk           NaN  Mars & Cars, Chips & Dips
...                   ...        ...           ...                        ...
5899  1665143503108677634  Elon Musk           NaN                        NaN
5900  1665139144425631747  Elon Musk           NaN                        NaN
5901  1665137204782419968  Elon Musk           NaN                        NaN
5902  1665131126900285445  Elon Musk           NaN                        NaN
5903  1665121551652474880  Elon Musk           NaN                        NaN

                   user_created  user_followers  user_friends  \
0     2009-06-02 20:12:29+00:00       101240855           115
1     2009-06-02 20:12:29+00:00       101240806           115
2     2009-06-02 20:12:29+00:00       101240806           115
3     2009-06-02 20:12:29+00:00       101240806           115
4     2009-06-02 20:12:29+00:00       101240806           115
...                         ...             ...           ...
5899  2009-06-02 20:12:29+00:00       143325985           330
5900  2009-06-02 20:12:29+00:00       143325985           330
5901  2009-06-02 20:12:29+00:00       143325985           330
5902  2009-06-02 20:12:29+00:00       143325985           330
5903  2009-06-02 20:12:29+00:00       143325985           330

      user_favourites  user_verified                       date  \
0               13503           True  2022-07-05 17:55:09+00:00
1               13503           True  2022-07-05 17:47:42+00:00
2               13503           True  2022-07-05 17:46:15+00:00
3               13503           True  2022-07-05 17:40:05+00:00
4               13503           True  2022-07-05 17:38:23+00:00
...               ...            ...                        ...
5899            25655          False  2023-06-03 23:48:42+00:00
5900            25655          False  2023-06-03 23:31:23+00:00
5901            25655          False  2023-06-03 23:23:41+00:00
5902            25655          False  2023-06-03 22:59:31+00:00
5903            25655          False  2023-06-03 22:21:29+00:00

                                                   text hashtags  \
0     @BillyM2k I find the gold toe sock – inevitabl...      NaN
1                    Sock Con, the conference for socks      NaN
2     Always something new for the magazine cover an...      NaN
3                      @ExplainThisBob This guy gets it      NaN
4     Sock tech is so advanced that you can get pret...      NaN
...                                                 ...      ...
5899                     @JonErlichman He’s not wrong …      NaN
5900  @alifarhat79 Guys, I think I maybe took too mu...      NaN
5901                                      @sriramk Cool      NaN
5902               @cb_doge Time to complete the circle      NaN
5903         @Jason Late stage civilization complacency      NaN

                  source  retweets  favorites  is_retweet
0     Twitter for iPhone       335       6542       False
1     Twitter for iPhone      1451      30753       False
2     Twitter for iPhone      1284      28610       False
3     Twitter for iPhone       131       3640       False
4     Twitter for iPhone      1191      23790       False
...                  ...       ...        ...         ...
5899  Twitter for iPhone       361       4791       False
5900  Twitter for iPhone      1609      61964       False
5901  Twitter for iPhone        46        879       False
5902  Twitter for iPhone       898      12467       False
5903  Twitter for iPhone      1997      38113       False

[4854 rows x 16 columns]

In [14]:
missing_description = raw_tweets[raw_tweets['user_description'].isna()]
print(missing_description)

                       id  user_name user_location user_description  \
435   1567139578166890506  Elon Musk           NaN              NaN
436   1566950472015028225  Elon Musk           NaN              NaN
437   1566937887735676928  Elon Musk           NaN              NaN
438   1566936909980614662  Elon Musk           NaN              NaN
439   1566853171720470528  Elon Musk           NaN              NaN
...                   ...        ...           ...              ...
5899  1665143503108677634  Elon Musk           NaN              NaN
5900  1665139144425631747  Elon Musk           NaN              NaN
5901  1665137204782419968  Elon Musk           NaN              NaN
5902  1665131126900285445  Elon Musk           NaN              NaN
5903  1665121551652474880  Elon Musk           NaN              NaN

                   user_created  user_followers  user_friends  \
435   2009-06-02 20:12:29+00:00       105623449           122
436   2009-06-02 20:12:29+00:00       105623449           122
437   2009-06-02 20:12:29+00:00       105623449           122
438   2009-06-02 20:12:29+00:00       105623449           122
439   2009-06-02 20:12:29+00:00       105623449           122
...                         ...             ...           ...
5899  2009-06-02 20:12:29+00:00       143325985           330
5900  2009-06-02 20:12:29+00:00       143325985           330
5901  2009-06-02 20:12:29+00:00       143325985           330
5902  2009-06-02 20:12:29+00:00       143325985           330
5903  2009-06-02 20:12:29+00:00       143325985           330

      user_favourites  user_verified                       date  \
435             14108           True  2022-09-06 13:16:06+00:00
436             14108           True  2022-09-06 00:44:39+00:00
437             14108           True  2022-09-05 23:54:39+00:00
438             14108           True  2022-09-05 23:50:46+00:00
439             14108           True  2022-09-05 18:18:01+00:00
...               ...            ...                        ...
5899            25655          False  2023-06-03 23:48:42+00:00
5900            25655          False  2023-06-03 23:31:23+00:00
5901            25655          False  2023-06-03 23:23:41+00:00
5902            25655          False  2023-06-03 22:59:31+00:00
5903            25655          False  2023-06-03 22:21:29+00:00

                                                   text hashtags  \
435   @joshcarlosjosh Peter Jackson did excellent wo...      NaN
436   @SawyerMerritt @Tesla For now, supply is too l...      NaN
437                      @Teslarati @JohnnaCrider1 Cool      NaN
438   Order a Tesla Powerwall battery for blackout p...      NaN
439   And 90% of my comments are bots 🤖 https://t.co...      NaN
...                                                 ...      ...
5899                     @JonErlichman He’s not wrong …      NaN
5900  @alifarhat79 Guys, I think I maybe took too mu...      NaN
5901                                      @sriramk Cool      NaN
5902               @cb_doge Time to complete the circle      NaN
5903         @Jason Late stage civilization complacency      NaN

                  source  retweets  favorites  is_retweet
435   Twitter for iPhone       125       2400       False
436   Twitter for iPhone       363       5649       False
437   Twitter for iPhone       384       9349       False
438   Twitter for iPhone      4482      46120       False
439   Twitter for iPhone      4260      79763       False
...                  ...       ...        ...         ...
5899  Twitter for iPhone       361       4791       False
5900  Twitter for iPhone      1609      61964       False
5901  Twitter for iPhone        46        879       False
5902  Twitter for iPhone       898      12467       False
5903  Twitter for iPhone      1997      38113       False

[4482 rows x 16 columns]

In [15]:
raw_tweets['hashtags'].unique()

array([nan, "['FreeSpeech']", "['deletefacebook']"], dtype=object)

Se identifican valores vacios en la descripción, ubicación y hashtags. No se prevé un impacto en el análisis por estas columnas, no se llenarán los vacios

In [16]:
print("Earliest date:",raw_tweets['date'].min())
print("Latest date:",raw_tweets['date'].max())

Earliest date: 2022-07-05 13:46:20+00:00
Latest date: 2023-06-13 01:49:01+00:00